<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.shelf.modular.business.mapper.BBlackListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quick.shelf.modular.business.entity.BBlackList">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_account" property="userAccount"/>
        <result column="name" property="name"/>
        <result column="dept_id" property="deptId"/>
        <result column="description" property="description"/>
        <result column="operate_id" property="operateId"/>
        <result column="operate" property="operate"/>
        <result column="black_time" property="blackTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id",
        user_id AS "userId",
        user_account AS "userAccount",
        name AS "name",
        dept_id AS "deptId",
        description AS "description",
        operate_id AS "operateId",
        operate AS "operate",
        black_time AS "blackTime"
    </sql>

    <select id="selectBlackLists" resultType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM B_BLACK_LIST
        <if test="name != null and name != ''">
            and (name like CONCAT('%',#{name},'%')
            or user_account like CONCAT('%',#{name},'%'))
        </if>
        <if test="deptId != null and deptId != 0">
            and (dept_id = #{deptId} )
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (black_time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        order by black_time desc
    </select>

    <select id="selectBBlackListByUserId" resultType="com.quick.shelf.modular.business.entity.BBlackList">
        SELECT
        <include refid="Base_Column_List"/>
        FROM B_BLACK_LIST
        WHERE user_id = #{userId}
        ORDER BY black_time
        LIMIT 0,1
    </select>
</mapper>