<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.shelf.modular.business.mapper.BIdentityInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quick.shelf.modular.business.entity.BIdentityInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="real_name" property="realName"/>
        <result column="sex" property="sex"/>
        <result column="birth" property="birth"/>
        <result column="address" property="address"/>
        <result column="identity_number" property="identityNumber"/>
        <result column="institutions" property="institutions"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id",
        user_id AS "userId",
        real_name AS "realName",
        sex AS "sex",
        birth AS "birth",
        address AS "address",
        identity_number AS "identityNumber",
        institutions AS "institutions",
        effective_date AS "effectiveDate",
        create_time AS "createTime",
        update_time AS "updateTime"
    </sql>

    <select id="selectBIdentityInfoByUserId"
            resultType="com.quick.shelf.modular.business.entity.BIdentityInfo">
        select
        <include refid="Base_Column_List"/>
        from b_identity_info where user_id = #{userId}
    </select>
</mapper>