<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.shelf.modular.business.mapper.BLocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quick.shelf.modular.business.entity.BLocation">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="addr_str" property="addrStr"/>
        <result column="description" property="description"/>
        <result column="device_info" property="deviceInfo"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id",
        user_id AS "userId",
        latitude AS "latitude",
        longitude AS "longitude",
        addr_str AS "addrStr",
        description AS "description",
        device_info AS "deviceInfo",
        create_time AS "createTime"
    </sql>


    <select id="selectBLocationByUserId" resultType="com.quick.shelf.modular.business.entity.BLocation">
        select
        <include refid="Base_Column_List"/>
        from b_location where user_id = #{userId}
    </select>
</mapper>