<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.shelf.modular.business.mapper.BOrderAnalyzingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quick.shelf.modular.business.entity.BOrderAnalyzing">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="loan_amount" property="loanAmount"/>
        <result column="loan_ratio" property="loanRatio"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id",
        dept_id AS "deptId",
        contract_amount AS "contractAmount",
        loan_amount AS "loanAmount",
        loan_ratio AS "loanRatio",
        create_date AS "createDate"
    </sql>

    <select id="selectBOrderAnalyzingByNowDate" resultType="com.quick.shelf.modular.business.entity.BOrderAnalyzing">
        SELECT
        <include refid="Base_Column_List"/>
        FROM B_ORDER_ANALYZING
            WHERE dept_id = #{deptId}
                AND TO_DAYS(create_date) = TO_DAYS(NOW())
    </select>

    <!-- 获取今天的下款率 -->
    <select id="selectLendingRate" resultType="java.lang.Float">
        SELECT
            (
                SELECT COUNT(id)
                    FROM b_order_details
                        WHERE TO_DAYS(draw_time) = TO_DAYS(NOW())
                            AND dept_id = #{deptId}
            )
             /
            (
                SELECT COUNT(id)
                    FROM b_order_details
                        WHERE TO_DAYS(create_time) = TO_DAYS(NOW())
                            AND dept_id = #{deptId}
            ) * 100
                AS loanRatio
    </select>

    <!-- 每日分公司放款排名 -->
    <select id="selectEveryDayDeptData" resultType="com.quick.shelf.modular.business.entity.BOrderAnalyzing">
        SELECT
        boa.id AS "id",
        boa.dept_id AS "deptId",
        sd.simple_name AS "simpleName",
        boa.contract_amount AS "contractAmount",
        boa.loan_amount AS "loanAmount",
        boa.loan_ratio AS "loanRatio",
        boa.create_date AS "createDate"
        FROM
          b_order_analyzing boa LEFT JOIN SYS_DEPT sd ON
          boa.dept_id = sd.dept_id
        WHERE TO_DAYS(create_date) = TO_DAYS(NOW())
        AND boa.dept_id != 0
        ORDER BY boa.contract_amount DESC
        LIMIT 0,7
    </select>

    <!-- 获取12个月份的统计数据 -->
    <select id="selectEveryMonthData" resultType="map">
        SELECT
  IF(
    AVG(m1.contract_amount) IS NULL,
    0,
    m1.contract_amount
  ) AS m1_contract_amount,
  IF(
    AVG(m1.loan_amount) IS NULL,
    0,
    m1.loan_amount
  ) AS m1_loan_amount,
  IF(
    AVG(m2.contract_amount) IS NULL,
    0,
    m2.contract_amount
  ) AS m2_contract_amount,
  IF(
    AVG(m2.loan_amount) IS NULL,
    0,
    m2.loan_amount
  ) AS m2_loan_amount,
  IF(
    AVG(m3.contract_amount) IS NULL,
    0,
    m3.contract_amount
  ) AS m3_contract_amount,
  IF(
    AVG(m3.loan_amount) IS NULL,
    0,
    m3.loan_amount
  ) AS m3_loan_amount,
  IF(
    AVG(m4.contract_amount) IS NULL,
    0,
    m4.contract_amount
  ) AS m4_contract_amount,
  IF(
    AVG(m4.loan_amount) IS NULL,
    0,
    m4.loan_amount
  ) AS m4_loan_amount,
  IF(
    AVG(m5.contract_amount) IS NULL,
    0,
    m5.contract_amount
  ) AS m5_contract_amount,
  IF(
    AVG(m5.loan_amount) IS NULL,
    0,
    m5.loan_amount
  ) AS m5_loan_amount,
  IF(
    AVG(m6.contract_amount) IS NULL,
    0,
    m6.contract_amount
  ) AS m6_contract_amount,
  IF(
    AVG(m6.loan_amount) IS NULL,
    0,
    m6.loan_amount
  ) AS m6_loan_amount,
  IF(
    AVG(m7.contract_amount) IS NULL,
    0,
    m7.contract_amount
  ) AS m7_contract_amount,
  IF(
    AVG(m7.loan_amount) IS NULL,
    0,
    m7.loan_amount
  ) AS m7_loan_amount,
  IF(
    AVG(m8.contract_amount) IS NULL,
    0,
    m8.contract_amount
  ) AS m8_contract_amount,
  IF(
    AVG(m8.loan_amount) IS NULL,
    0,
    m8.loan_amount
  ) AS m8_loan_amount,
  IF(
    AVG(m9.contract_amount) IS NULL,
    0,
    m9.contract_amount
  ) AS m9_contract_amount,
  IF(
    AVG(m9.loan_amount) IS NULL,
    0,
    m9.loan_amount
  ) AS m9_loan_amount,
  IF(
    AVG(m10.contract_amount) IS NULL,
    0,
    m10.contract_amount
  ) AS m10_contract_amount,
  IF(
    AVG(m10.loan_amount) IS NULL,
    0,
    m10.loan_amount
  ) AS m10_loan_amount,
  IF(
    AVG(m11.contract_amount) IS NULL,
    0,
    m11.contract_amount
  ) AS m11_contract_amount,
  IF(
    AVG(m11.loan_amount) IS NULL,
    0,
    m11.loan_amount
  ) AS m11_loan_amount,
  IF(
    AVG(m12.contract_amount) IS NULL,
    0,
    m12.contract_amount
  ) AS m12_contract_amount,
  IF(
    AVG(m12.loan_amount) IS NULL,
    0,
    m12.loan_amount
  ) AS m12_loan_amount
FROM
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-01')
  ) m1,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-02')) m2,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-03')) m3,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-04')) m4,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-05')) m5,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-06')) m6,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-07')) m7,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-08')) m8,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-09')) m9,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-10')) m10,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-11')) m11,
  (SELECT
    SUM(contract_amount) AS contract_amount,
    SUM(loan_amount) AS loan_amount
  FROM
    b_order_analyzing
  WHERE DATE_FORMAT(create_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-12')) m12
    </select>
</mapper>