<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.shelf.modular.business.mapper.BSysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quick.shelf.modular.business.entity.BSysUser">
        <id column="user_id" property="userId"/>
        <result column="user_account" property="userAccount"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="pay_password" property="payPassword"/>
        <result column="pay_salt" property="paySalt"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="sex" property="sex"/>
        <result column="id_card" property="idCard"/>
        <result column="status" property="status"/>
        <result column="role_id" property="roleId"/>
        <result column="dept_id" property="deptId"/>
        <result column="first_referrer" property="firstReferrer"/>
        <result column="second_referrer" property="secondReferrer"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS "userId", user_account AS "userAccount", pay_password AS "payPassword", pay_salt AS "paySalt", name AS "name", sex AS "sex", phone_number AS "phoneNumber", role_id AS "roleId", dept_id AS "deptId", id_card AS "idCard", status AS "status", create_time AS "createTime", update_time AS "updateTime", update_user AS "updateUser"
    </sql>

    <sql id="Base_Column_List_With_Pwd">
		 user_id AS "userId", user_account AS "userAccount", salt AS "salt", password AS "password", pay_password AS "payPassword", pay_salt AS "paySalt", name AS "name", sex AS "sex", phone_number AS "phoneNumber", role_id AS "roleId", dept_id AS "deptId", id_card AS "idCard", status AS "status", create_time AS "createTime", update_time AS "updateTime", update_user AS "updateUser"
	</sql>

    <select id="selectBSysUsers" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from b_sys_user
        where status != 'DISABLE'
        <if test="name != null and name != ''">
            and (phone_number like CONCAT('%',#{name},'%')
            or user_account like CONCAT('%',#{name},'%')
            or name like CONCAT('%',#{name},'%'))
        </if>
        <if test="deptId != null and deptId != 0">
            and (dept_id = #{deptId} )
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (create_time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        order by create_time desc
    </select>

    <update id="deleteBSysUserByUserId">
        UPDATE B_SYS_USER
            SET STATUS = 'DISABLE'
                WHERE USER_ID = #{userId}
    </update>

    <select id="getByPhoneNumber" resultType="com.quick.shelf.modular.business.entity.BSysUser">
        select
        <include refid="Base_Column_List_With_Pwd"/>
        from b_sys_user where phone_number = #{phoneNumber} and status != 'DELETED'
    </select>

    <select id="getBSysUserCount" resultType="Integer">
        SELECT COUNT(PHONE_NUMBER)
        FROM B_SYS_USER
        <if test="deptId != 0">
            WHERE DEPT_ID = #{deptId}
        </if>
    </select>

    <select id="getBSysUserToDayCount" resultType="Integer">
        SELECT COUNT(PHONE_NUMBER)
        FROM B_SYS_USER
        WHERE DATE(CREATE_TIME) = CURDATE()
        <if test="deptId != 0">
            AND DEPT_ID = #{deptId}
        </if>
    </select>

    <update id="updateUserPassword" parameterType="com.quick.shelf.modular.business.entity.BSysUser">
        UPDATE B_SYS_USER
        SET password = #{password},
        salt = #{salt},
        update_time = #{updateTime}
        WHERE user_id = #{userId}
    </update>

    <update id="migrateUser">
            UPDATE B_SYS_USER
                SET dept_id = #{deptId}
                WHERE user_id = #{userId}
    </update>
</mapper>